
  #responsibilities-list {
    max-height: 10rem; /* Maximum height with scroll */
    /* overflow-y: auto;  */
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    hyphens: auto; 
  }

 

